# Dependencies go here
langchain
chromadb
ollama
openai
tiktoken
matplotlib
pandas
langchain-chroma
langchain 
langchain-core 
langchain-community 
langchain-ollama 
flask
flask-cors
psutil
requests

